<h1>{{god.name}}</h1>
<a href="/gods"><button>Back to Main Page</button></a>

<img src="{{god.img}}">
<nav>
  <p>Class: {{god.class}}</p>
   <p>Damage Type: {{god.damageType}}</p>
   <p>
     {% if god.class == "Mage" or god.class == "Hunter"%}
        Ranged Attacks
      {% else %}
        Melee Attacks
      {%endif%}
    </p>
</nav>
<h2>Abilities</h2>

<div class="abilities">
  <div class="one">
    <h3>{{god.ability1}}</h3>
    <div class="ability1-description">
      {{god.ability1Des}}
    </div>
  </div>
  <div class="two">
    <h3>{{god.ability2}}</h3>
    <div class="ability2-description">
      {{god.ability2Des}}
    </div>
  </div>
  <div class="three">
     <h3>{{god.ability3}}</h3>
    <div class="ability3-description">
      {{god.ability3Des}}
    </div>
  </div>
  <div class="ult">
    <h3>{{god.ult}}</h3>
    <div class="ult-description">
      {{god.ultDes}}
    </div>
  </div>
  <div class="passive"></div>
    <h3>{{god.passive}}</h3>
    <div class="ult-description">
      {{god.passiveDes}}
    </div>











</div>











<style>
  img{
    width:200px
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
</style>